@import "tailwindcss";
body {
  background-color: #323240;
  color: #eeeeff;
  ::selection {
    color: #000000;
    background-color: #3355ff;
  }
}
.ease-spring {
  transition-timing-function: linear(
    0, 0.009, 0.035 2.1%, 0.141, 0.281 6.7%, 0.723 12.9%, 0.938 16.7%, 1.017,
    1.077, 1.121, 1.149 24.3%, 1.159, 1.163, 1.161, 1.154 29.9%, 1.129 32.8%,
    1.051 39.6%, 1.017 43.1%, 0.991, 0.977 51%, 0.974 53.8%, 0.975 57.1%,
    0.997 69.8%, 1.003 76.9%, 1.004 83.8%, 1);
}
:root {
  color-scheme: dark;
  scroll-behavior: smooth;
  scroll-padding-top: 2em;
}
.container {
  inline-size: min(92vw, 70rem);
  margin-inline: auto;
}
.guide {
  display: grid;
  pointer-events: none;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.guide div {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
